body, html{
     height: 100%;
 	background-repeat: no-repeat;
 	background:url(https://i.ytimg.com/vi/4kfXjatgeEU/maxresdefault.jpg);
 	font-family: 'Oxygen', sans-serif;
	background-size: cover;
}


.my_table{

	background-color: #eff2e1;
	border: 1px solid black;
	color: black;
	border-radius: 5px;
    width: 70%;
  	margin-top: 100px;
  	margin-left:200px;
  	float: none;
}