{% extends "layout.html" %}

{% block content %}

{% load static %}


{% load django_tables2 %}


{% load i18n widget_tweaks %}

{% load querystring from django_tables2 %}


{% load title from django_tables2 %}

{% load trans blocktrans from i18n %}



<header>

<link href="{% static 'css/volunteer_list.css' %}" rel="stylesheet">
<script src="{% static 'js/volunteer_list.js' %}"></script>
<script type="text/javascript" language="javascript" class="init">



/* Safari */
window.onpageshow = function (event) {
    if (event.persisted) {
        window.location.reload();
    }
};

/*Other browsers*/
if (sessionStorage.getItem("send_email_visited")) {
          sessionStorage.removeItem("send_email_visited");
          console.log("reload");
          window.location.reload(true); // force refresh page1
        }
     $(document).ready(function() {


          

        sessionStorage.setItem("volunteer_list_visited", "True");
        var json=JSON.stringify({{user_data}});
        JSON.parse(json)
        //console.log(json)
         var table = $('#example').DataTable( {
             "data":JSON.parse(json),
             "dom":"Bfrtip",
             "columnDefs": [{
            
              "targets": 0,
              'checkboxes': {
            'selectRow': true
         }
            }],
             "columns": [
                    {"data": null, "orderable": false},
                    {"data":"User__first_name", "title": "First Name"},
                    {"data":"User__last_name", "title": "Last Name"},
                    {"data":"User__email", "title":"Email"},
                    {"data":"date", "title": "Date Attended", "format": 'D MMM YYYY',},
                    {"data":"User__volunteer_group", "title":"Volunteer Group"}
                 ],
              "select": {"style": "multi"},
              //"select":true,
              //"buttons": [
                /*{ 
                  "text": "Sign In Selected User",
                  action: function ( e, dt, node, config ) {
                    alert(table.row(this).data())
                },
                "enabled": false
                   

        
     },*/ 
     "buttons": [
     {
            "extend": 'selected',
            "text": 'Send Email',
            /*"fnClick": function(e, dt, button, config){
              
              //console.log( dt.row( { selected: true } ).data() );
              alert( 'Mouse click' );


            },*/
           action: function ( e, dt, button, config ) {
                console.log( dt.rows( { selected: true } ).data() );
                //console.log((button).submit());
                //$(button).submit();
                //$.redirect('/');
                var jdata = dt.rows( { selected: true } ).data().toArray()
                var json = JSON.stringify(jdata)
                $.ajax({
                url: "{% url 'staff:volunteer_list' %}",
                type: 'POST',
                data: { data: json,
                csrfmiddlewaretoken: '{{ csrf_token }}'
              },


                dataType: 'json',
                cache: false,
               success: function (result) {
                  
                  console.log("success")
                  
                }
            });
            window.location.href = "{%url 'staff:email' %}"
            },

        }

        ]

   }
   );




    });



 </script>




<div id = 'my_table'>

  <div class="container" id="date-picker">

    <div class="col-md-4 pull-right">
      {%comment%}
      Date Picker
      <div class="input-group input-daterange">

        <input type="text" id="min-date" class="form-control date-range-filter" data-date-format="yyyy-mm-dd" placeholder="From:">

        <div class="input-group-addon">to</div>

        <input type="text" id="max-date" class="form-control date-range-filter" data-date-format="yyyy-mm-dd" placeholder="To:">

      </div>
      {%endcomment%}
    </div>
  </div>

 <table class="table table-striped table-bordered" cellpadding="0" cellspacing="0" border="0" width="100%" id="example">
    {% csrf_token %}
     <tbody></tbody>
</table>

<div>
                             <!-- <button type="submit" class="btn btn-small btn-dark"> Sign In</button>-->
                            </div>   
</div>
</header>



{% endblock %}

