{% extends "layout.html" %}

{% block content %}

{% load static %}


{% load i18n widget_tweaks %}


<head> 

		<meta http-equiv="refresh" content="4;url={% url 'signin:signin' %}">
	    <link href="{% static "css/signed_in.css" %}" rel="stylesheet">
		
		
</head>
   

<header>
<div class="note" style="width:800px; margin:0 auto">
	 <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="header-content">
                        <div class="header-content-inner">
                            <h1>Thank you for {{type}} {{vname}}</h1>
                            
                        </div>
                    </div>
       </div>
</div>
</header>
{% endblock %}