{% extends "layout.html" %}

{% block content %}

{% load static %}


{% load i18n widget_tweaks %}


<head> 

	    <link href="{% static "css/staff_login.css" %}" rel="stylesheet">

</head>
   
<header>


		<div class="container" id = "form-signup">
			<div class="row main">
				<div class="main-login main-center">
				<h4 style = "text-align:center">Staff Log In</h4>
				<div style = "visibility:hidden;">########################################</div>
					<form class="" method="POST" action="{%url 'signin:staff_login' %}" style="">
						

						{% csrf_token %}
						

						<!-- Email -->
						<div class="form-group has-error">
							<label for="email" class="cols-sm-2 control-label">Email</label>
							<div class="cols-md-5">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
									{{form.email|attr:"class:form-control"}}
								</div>
							</div>
						</div>


						<!-- Password -->
						<div class="form-group has-error">
							<label for="password" class="cols-sm-2 control-label">Password</label>
							<div class="cols-md-5">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									{{form.password|attr:"class:form-control"}}
								</div>
							</div>
						</div>



						<!-- Submit Button -->
						<div class="form-group ">
							<input type = "submit" target="_blank" type="button" id="button" class="btn btn-primary btn-lg btn-block login-button"/>
						</div>

						{% if form.non_field_errors %}
        						{% for error in form.non_field_errors %}
        				    		<p class="error-message">{{error}}</p>
        						{% endfor %}
						{% endif %}


					
					</form>
				</div>
			</div>
		</div>



</header>



{% endblock %}